<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eliad.impact1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/gudamall"
        android:label="@string/app_name"
        android:screenOrientation="locked"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".homeScreen"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Scolar"
            android:label="@string/app_name"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ScolarGridViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".letter"
            android:label="@string/app_name"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme" />
        <activity android:name=".personal_info"></activity>
    </application>

</manifest>
